<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place this data between the <head> tags of your website -->
        <title><%= siteTitle %></title>
        <meta name="description" content="<%= siteDescription %>" />

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@reubeningber">
        <meta name="twitter:creator" content="@reubeningber">
        <meta name="twitter:title" content="<%= siteTitle %>">
        <meta name="twitter:description" content="<%= siteDescription %>">
        <meta name="twitter:image:src" content="<%= shareImg %>">

        <!-- Open Graph data -->
        <meta property="og:title" content="<%= siteTitle %>" />
        <meta property="og:type" content="article" />
        <meta property="og:url" content="http://www.runReubenrun.com/" />
        <meta property="og:image" content="<%= shareImg %>" />
        <meta property="og:description" content="<%= siteDescription %>" /> 
        <meta property="og:site_name" content="<%= siteTitle %>" />

		<link rel="stylesheet" href="assets/css/main.css">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
		<div class="page-container-flex">
            <div class="content">
                <div class="logo">
                    <img src="assets/img/runReubenrun_logo.jpg" alt="">
                </div>

                <a href="http://www.runwithtfk.org/Profile/PublicPage/14710" class="btn primary-btn">DONATE!</a>

                <ul class="ui-list share-buttons">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Frunreubenrun.com&t=<%= encodedDescription %>" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                    <li>
                        <a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Frunreubenrun.com&text=<%= encodedDescription %>%20http%3A%2F%2Frunreubenrun.com&via=reubeningber" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                    <li>
                        <a href="https://plus.google.com/share?url=http%3A%2F%2Frunreubenrun.com" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                    <li>
                        <a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Frunreubenrun.com&t=<%= encodedDescription %>&s=" target="_blank" title="Post to Tumblr"><i class="fa fa-tumblr-square fa-2x"></i></a></li>
                    <li>
                        <a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Frunreubenrun.com&media=http://runReubenrun.com/assets/img/runReubenrun_logo.jpg&description=Support%20Reuben%20Ingber%20as%20he%20runs%20the%20airBnB%20Brooklyn%20Half%20Marathon%20this%20May.%20%23runREUBENrun" target="_blank" title="Pin it"><i class="fa fa-pinterest-square fa-2x"></i></a></li>
                    <li>
                        <a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Frunreubenrun.com&title=%23runReubenRun&summary=Support%20Reuben%20Ingber%20as%20he%20runs%20the%20airBnB%20Brooklyn%20Half%20Marathon%20this%20May.%20%23runREUBENrun&source=http%3A%2F%2Frunreubenrun.com" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    <li>
                        <a href="mailto:?subject=%23runReubenRun&body=Support%20Reuben%20Ingber%20as%20he%20runs%20the%20airBnB%20Brooklyn%20Half%20Marathon%20this%20May.%20%23runREUBENrun:%20http%3A%2F%2Frunreubenrun.com" target="_blank" title="Email"><i class="fa fa-envelope fa-2x"></i></a></li>
                </ul>
            </div>
		</div>
    </body>
</html>
